.ui.gray.header
  //.ui.right.floated.mini.button((click)='gypCollapse=!gypCollapse')
    ng-template([ngIf]='gypCollapse') 更多
    ng-template([ngIf]='!gypCollapse') 更少
  | 选择基础词汇

.ui
  .ui.stackable.steps.base-voca
    .step(*ngFor='let wc of [basic, cet4, cet6]', [ngClass]='{active:wc===selected}', (click)='select(wc)')
      i.bicycle.icon(*ngIf='wc.code==="basic"')
      i.motorcycle.icon(*ngIf='wc.code!=="basic"')
      .content
        .title {{wc.name}}
        .description
          ng-template([ngIf]='wc.extend') {{wc.extend.name}} + {{wc.wordCount | approximate}} = &nbsp;
          | {{wc.extendedWordCount | approximate}}

div
  .ui([suiCollapse]='gypCollapse')
    ng-template(ngFor='', let-wc='', [ngForOf]="[ielts,gre]")
      .ui.steps.base-voca
        .step([ngClass]='{active:wc===selected}', (click)='select(wc)')
          i.car.icon
          .content
            .title {{wc.name}}
            .description
              ng-template([ngIf]='wc.extend') {{wc.extend.name}} + {{wc.wordCount | approximate}} = &nbsp;
              | {{wc.extendedWordCount | approximate}}

.ui.clearing.hidden.divider
.ui
  | 选择:
  .selected-name
    ng-template([ngIf]='selected') {{selected.name}}
  .ui.small.basic.button([ngClass]='{disabled: !changed}', (click)='save()') 保存

  .clearing

  .ui.segment
    .ui
      sui-checkbox([(ngModel)]='showSamples', (click)='processSamples()') 随机例词
      .ui.right.floated.tiny.basic.button([ngClass]='{disabled: !showSamples || !sampleWords}', (click)='processSamples()') Change
    .ui.horizontal.list
      a.item(*ngFor='let word of sampleWords', (click)='onClickAWord(word,$event)') {{word}}

ng-template(#wordMeanings='')
