.ui.header
  .ui.right.floated.header
    .ui.mini.button((click)='configTextSearchScope()') 文本搜索范围
    | &nbsp;&nbsp;
    sui-checkbox([(ngModel)]='showZh') 中文
  | 图书 &nbsp;&nbsp;
  .ui.small.compact.horizontal.list.cat-list
    a.item((click)='setList("public")', [ngClass]='{disabled:listName=="public"}') 公开
    a.item((click)='setList("personal")', [ngClass]='{disabled:listName=="personal"}') 个人

table.ui.striped.table
  thead
    tr
      th
      th 代号
      th 书名
      th 统计
      th
  tbody
    tr(*ngFor='let book of paginatedBooks; trackBy: bookTracker')
      td
        a((click)='showImage(book)')
          img.ui.tiny.image(*ngIf='book.image', [src]='bookImagesBase+"/"+book.image.file')
        img.ui.tiny.image.disabled(*ngIf='!book.image', [src]='bookImageNotSet')
      td {{book.code}}
      td
        a([routerLink]="['/books', book.id]")
          .enname {{book.name}}
          .zhname(*ngIf='showZh && book.zhName') {{book.zhName}}
      td
        a(*ngIf='book.stat', (click)='showBookStat(book)', href='javascript:') {{book.stat.total | wanUnit}}词
      td
        .ui.mini.teal.circular.label(*ngIf="book.userBook&&book.userBook.textSearch" ) 搜
  tfoot(*ngIf='books&&books.length>=pageSize')
    tr
      th.ui.small.form(colspan='5')
        .pager
          input.ui.mini.input.page-input(type="number", min='1', #pi='', (change)='gotoPage(pi.value);pi.value=""')
          .ui.right.floated.mini.pagination.menu
            a.icon.item([ngClass]='{disabled:page===1}', (click)='previousPage()')
              i.left.chevron.icon
            a.item.disabled {{page}}
            a.icon.item([ngClass]='{disabled:!paginatedBooks||paginatedBooks.length<pageSize}', (click)='nextPage()')
              i.right.chevron.icon
        .clearing

