.ui.grid
  .three.wide.column
    sui-accordion([closeOthers]='false')
      sui-accordion-panel([isOpen]='true')
        .column-header(title='')
          i.dropdown.icon
          | 最新加入
        .ui.link.list.latest-added(content='')
          a.item(*ngFor='let uw of latestAdded', (click)='selectWord(uw)')
            | {{uw.word}}
      sui-accordion-panel([isOpen]='true')
        .column-header(title='')
          i.dropdown.icon
          | 查词历史
        .ui.link.list.words-history(content='')
          a.item(*ngFor='let entry of entryHistory', (click)='selectHistoryEntry(entry)')
            | {{entry.word}}
          .item
            a.operation(*ngIf='entryHistory.length>0', (click)='clearHistory()') ^^ 清空

  .thirteen.wide.column
    .ui.right.floated.small.compact.menu
      a.item((click)='mode="userWords"', [ngClass]='{active:mode==="userWords"}') 我的词表
      a.item((click)='mode="wordCards"', [ngClass]='{active:mode==="wordCards"}') 词汇卡片
      a.item((click)='mode="search"', [ngClass]='{active:mode==="search"}') 搜索
      a.item((click)='clickStatistic()', [ngClass]='{active:mode==="statistic"}') 统计
    .ui.clearing.hidden.divider

    div.user-vocabulary(*ngIf='mode==="userWords"')
      .ui.segment.small.form.filter-group
        .field
          label.title 筛选
          .grouped.fields
            span.label.field-name 熟悉度
            sui-checkbox([(ngModel)]="filter.familiarityAll") 全部
            sui-checkbox(*ngFor='let fam of familiarities', [(ngModel)]='filter["familiarity"+fam.value]',
            [isDisabled]='filter.familiarityAll') {{fam.label}}
          .grouped.fields
            span.label.field-name 加入日期
            sui-radio-button(name="filterAddOn", value="All", [(ngModel)]="filter.addOn") 全部
            //sui-radio-button(name="filterAddOn", value="3.days", [(ngModel)]="filter.addOn") 最近3天
            sui-radio-button(name="filterAddOn", value="1.weeks", [(ngModel)]="filter.addOn") 最近1周
            sui-radio-button(name="filterAddOn", value="1.months", [(ngModel)]="filter.addOn") 最近1月
            //| Last Touch 最近..
        .field
          label.title 分组
          sui-radio-button(name="groupBy", value="", [(ngModel)]="grouping.groupBy") 不分组
          sui-radio-button(name="groupBy", value="AddOn", [(ngModel)]="grouping.groupBy") 按加入日期
          sui-radio-button(name="groupBy", value="Source", [(ngModel)]="grouping.groupBy") 按章节

          .ui.mini.primary.button((click)='refreshWordList()') 确定

      .clearing

      .ui.list(*ngIf='groupedUserWords')
        .item(*ngFor='let group of groupedUserWords')
          div
            | {{group.title}} &nbsp;
            span.ui.mini.circular.label {{group.userWords.length}}
          .ui.horizontal.list
            a.item(*ngFor='let uw of group.userWords', (click)='selectWord(uw)') {{uw.word}}

    div.user-vocabulary(*ngIf='mode==="wordCards"')
      .ui.segment.small.form.filter-group
        .field
          label.title 筛选
          .grouped.fields
            span.label.field-name 熟悉度
            sui-checkbox([(ngModel)]="filter.familiarityAll") 全部
            sui-checkbox(*ngFor='let fam of familiarities', [(ngModel)]='filter["familiarity"+fam.value]',
            [isDisabled]='filter.familiarityAll') {{fam.label}}
          .grouped.fields
            span.label.field-name 加入日期
            sui-radio-button(name="filterAddOn", value="All", [(ngModel)]="filter.addOn") 全部
            //sui-radio-button(name="filterAddOn", value="3.days", [(ngModel)]="filter.addOn") 最近3天
            sui-radio-button(name="filterAddOn", value="1.weeks", [(ngModel)]="filter.addOn") 最近1周
            sui-radio-button(name="filterAddOn", value="1.months", [(ngModel)]="filter.addOn") 最近1月
        .field
          label.title 提取
          .grouped.inline.fields
            sui-checkbox([(ngModel)]="cardsRandom") 随机
            span.label.field-name 排序
            sui-radio-button(name="cardsOrder", value="none", [(ngModel)]="cardsOrder", [isDisabled]='cardsRandom') 不排序
            sui-radio-button(name="cardsOrder", value="addOn", [(ngModel)]="cardsOrder", [isDisabled]='cardsRandom') 按加入日期（新的在前）

          .ui.mini.primary.button((click)='generateCardWords()') 生成

      .ui.clearing.hidden.divider

      div(*ngIf='cardWords')
        .ui.right.floated.mini.buttons
          .ui.primary.basic.button((click)='nextBatchCardWords()')
            | 下一批
            i.right.arrow.icon
        .ui.clearing.hidden.divider
        .ui.cards
          .link.card.word-card(*ngFor='let cw of cardWords', (click)='selectWord(cw.userWord)',
          [ngClass]='{teal:entry&&entry.word===cw.userWord.word}')
            .content
              .header {{cw.userWord.word}}
              //.meta
              .description
                .ui.list(*ngIf='cw.entry')
                  .ui.item(*ngFor='let item of cw.entry.simple')
                    | {{item.pos}} {{item.exp}}

      .ui.clearing.hidden.divider

    div.searching(*ngIf='mode==="search"')
      .ui.segment.small.form.filter-group
        .field
          .grouped.fields.search
            sui-search([optionsLookup]="dictSearch", optionsField="word", searchDelay="400",
            (resultSelected)="selectSearchResult($event)", (keyup)='onKeyup($event)', [retainSelectedResult]="false",
            placeholder='单词、短语...', #searchInput='')
          //label.title 词典
          .grouped.fields
            sui-checkbox([(ngModel)]='phrase', [isDisabled]='phraseOnly', (click)='resetSearch()') 短语
            sui-checkbox([(ngModel)]='phraseOnly', (click)='resetSearch()') 仅短语
          .grouped.fields
            label.title 范围 &nbsp;
            sui-radio-button(name="wordScope", value="All", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') 不限
            sui-radio-button(name="wordScope", value="basic", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') 基础
            sui-radio-button(name="wordScope", value="cet", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') CET
            sui-radio-button(name="wordScope", value="ielts", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') 雅思
            sui-radio-button(name="wordScope", value="gre", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') GRE
        //.field
          label.title 文本
          .grouped.fields
            //span.label.field-name 范围
        //.clearing
    div.statistic(*ngIf='mode==="statistic"')
      ng-template([ngIf]='wordStatistic')
        h4.ui.dividing.header 我的词表：
        .ui.tiny.statistics
          .grey.statistic
            .value &nbsp;
          .red.statistic
            .value {{wordStatistic.familiarity1Count}}
            .label 很陌生
          .teal.statistic
            .value {{wordStatistic.familiarity2Count}}
            .label 熟悉中
          .green.statistic
            .value {{wordStatistic.familiarity3Count}}
            .label 已掌握

        h4.ui.dividing.header 词汇量：
        .ui.tiny.statistics
          .grey.statistic
            .value &nbsp;
          .blue.statistic
            .value {{wordStatistic.baseVocabularyCount}}
            .label 我的基础词汇
          .red.statistic
            .value -
          .red.statistic
            .value {{wordStatistic.unfamiliarCountInBV}}
            .label 基础词汇中不掌握的
          .red.statistic
            .value +
          .green.statistic
            .value {{wordStatistic.familiarCountNotInBV}}
            .label 已掌握且不在基础词汇中的

        .ui.hidden.divider
        .ui.small.statistics
          .red.statistic
            .value =
          .green.statistic
            .value {{wordStatistic.graspedCount}}
            .label 已掌握

    .ui.clearing.hidden.divider
    dict-entry(*ngIf='entry', [entry]='entry')
