#main
  #header
    .ui.stackable.secondary.pointing.menu.container
      a.item(routerLink='/') Home
      ng-template([ngIf]='currentUser')
        a.item(routerLink='/books', routerLinkActive='active') 阅读
        a.item(routerLink='/dict', routerLinkActive='active') 查词
        a.item(routerLink='/vocabulary', routerLinkActive='active') 词汇
        .ui.dropdown.item(*ngIf='currentUser', suiDropdown='')
          | 快捷查看
          i.dropdown.icon
          .menu(suiDropdownMenu='')
            a.item((click)='showTextSearchScope()')
              | 文本搜索范围
            a.item((click)='showWordTagsSetting()')
              | 词汇标签
            a.item((click)='showWordStatistic()')
              | 词汇量
      .right.menu
        ng-template([ngIf]='currentUser')
          a.item(routerLink='/my', routerLinkActive='active') 账号&设置
          .item
            | {{currentUser.name}} &nbsp;&nbsp;&nbsp;&nbsp;
            a((click)='logout()', href='javascript:') 退出
        .item
          a(*ngIf='!currentUser', (click)='gotoLogin()', href='javascript:') 登录

  .ui.container
    router-outlet

    p &nbsp;
