.ui.small.blue.header
  //.ui.right.floated.horizontal.small.link.list.login-methods
    a.item((click)='loginMethod="pass"', [ngClass]='{active: loginMethod==="pass"}') 密码登录
    a.item((click)='switchToWx()', [ngClass]='{active: loginMethod==="wx"}') 微信登录
  | 登录

ng-template([ngIf]='loginMethod==="pass"')
  .ui.content.tiny.form.login
    .ui.small.message(*ngIf='loginMessage') {{loginMessage}}
    .field
      input(type="text", #name="", placeholder="用户名")
    .field
      input(type="password", #pass="", placeholder="密码", (keyup)='onPassKeyup(name.value, pass.value, $event)')

    .register-link
      | 没有账号？
      a((click)='gotoRegister()') 注册

  .actions
    .ui.tiny.button((click)='cancel()') 取消
    .ui.tiny.primary.button((click)='login(name.value, pass.value)') 登录

//ng-template([ngIf]='loginMethod==="wx"')
  .ui.content
    #login_popup_container &nbsp;
    p
      | 直接扫码登录将会刷新页面
      //| <br>为避免丢失修改，可以&nbsp;
      //a(href="{{wxLoginUrl}}", target="_blank", (click)='wxAuthWindow=true') 打开新窗口登录

  .actions
    .ui.tiny.button((click)='cancel()') 关闭
