.form.login
  h3.header.login-header
    //.ui.right.floated.horizontal.small.link.list.login-methods
      a.item((click)='loginMethod="pass"', [ngClass]='{active: loginMethod==="pass"}') 密码登录
      a.item((click)='switchToWx()', [ngClass]='{active: loginMethod==="wx"}') 微信登录
    | 请登录

  .ui.small.form(*ngIf='loginMethod==="pass"')
    .ui.small.message(*ngIf='loginMessage') {{loginMessage}}
    .field
      input(type="text", #name="", placeholder="账号")
    .field
      input(type="password", #pass="", placeholder="密码", (keyup)='onPassKeyup(name.value, pass.value, $event)')
    .field
      .ui.small.button((click)='cancel()') 取消
      .ui.small.primary.button((click)='login(name.value, pass.value)')
        i.icon.keyboard.outline
        | 登录

  #login_container([hidden]='loginMethod!=="wx"')
